
.sidenav {
    width: 250px;
    background: #eee;
    padding: 8px 0;
    margin-top: 60px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 26px;
    font-family: 'Bebas Neue', cursive;
    color: black;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }