.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.hero-text {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 63px;
   
}

@media only screen and (max-width:600px) {
    .hero-text{
        font-size: 42px !important;
    }
}