.header-background{
    background-image: url(../../images/bg2.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh; 
}

@media only screen and (max-width: 600px){
    .header-background{
        height: 70vh !important;
        background-position: center;
    }
   
}