.header-background{
    background-image: url(https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,.4);
    height:100vh; 
}

@media only screen and (max-width: 600px){
    .header-background{
        height: 70vh !important;
        background-position: center;
    }
   
}