.bike{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    /* color: #3d2514;      */
    /* color: #fff; */
 
}
.main-logo{
  
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    color: #3d2514 !important;    
    /* color: #fff; */
    font-size: 18px;
    font-weight: 600;
}
.log{
    background-color: goldenrod !important;
    border-radius: 10px;
}
.shoping{
    font-size: 1.6rem;
    color: black !important;
    
}
.navbar-light .navbar-toggler {
    background-color: #cf4a12!important;
    color: #fff;
  }
  .banner-logo{
      width: 220px;
      height: 80px;
  }

@media only screen and (max-width: 600px){

    .food-one{
        height: 30vh !important;
    }
    .food-two{
        height: 18vh !important;
    }
    .food-three{
        height: 18vh !important;
    }
    .food {
        width: 95% !important;
    }
    .last-banner{
        height: 80vh !important;
    }
}