.manage-form{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    float: right;
    width: 100%;
    margin: 100px 0px 0px 0px;
    
    
}

.manage-form input{
    width: 70%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    border-radius: 4px;
    margin: 10px 0;
}

.manage-form .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
} 

.error{
    color: red;
}




